body {
	max-width: 768px;
	margin: 0 auto;
	background: #f1f0f6;
}

header {
	max-width: 768px;
	margin: 0 auto;
	height: 4.0rem !important;
}

.mui-bar-nav~.mui-content {
	padding-top: 4.8rem;
}

.mui-bar-nav {
	box-shadow: none;
	border-bottom: solid 1px #DDDDDD;
}

.mui-title {
	color: #262626;
	line-height: 4.0rem;
	font-size: 1.8rem;
}
header .back {
    width: 10%;
    height: 4.0rem;
    background: url(../images/iconfont-back.png) center center no-repeat;
    display: block;
    float: left;
    background-size: 1.0rem;
}
/*mui-content start*/

.mui-content {
	max-width: 768px;
	margin: 0 auto;
}

.mui-input-group {
	overflow: hidden;
}

.mui-input-group .mui-input-row {
	height: 5.0rem !important;
	line-height: 5.0rem !important;
}

.tel_num,
.mui-input-row {
	width: 65%;
	float: left;
}

.input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
	padding: 0;
	height: 5.0rem;
	line-height: 5.0rem !important;
	color: #000 !important;
	font-size: 1.6rem;
	font-family: 'Microsoft YaHei';
}

.fgt_pwd .mui-input-group .tel {
	height: 5.0rem;
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-left: 4.267%;
	border-bottom: solid 1px #eee;
}
.fgt_pwd .mui-input-group .tel:last-child{
	border-bottom: none;
}

.tel .get_code {
	display: block;
	float: right;
	font-size: 1.3rem;
	font-family: 'Microsoft YaHei';
	color: #c7c7cd;
	padding:0 0.5rem;
	line-height: 2.5rem;
	height: 2.5rem;
	border: solid 0.1rem #c7c7cd;
	border-radius: 1.5rem;
	text-align: center;
	margin-top: 1.25rem;
	box-sizing: border-box;
    margin-right: 8.534%;
}
.tel .code_change_color{
	color: #ff4400;
	border-color: #ff4400;
	
}

.mui-input-group .mui-input-row:after {
	background: transparent !important;
}

.fgt_pwd .pwd_tab {
	float: right;
	display: block;
	width: 4.5rem;
	height: 2.3rem;
	background: url(../images/pwd_tab.png) 0 0 no-repeat;
	background-size: 4.5rem;
	margin-top: 1.35rem;
	margin-right: 10%;
}
.fgt_pwd .pwd_tab_act {
	background: url(../images/pwd_tab_act.png) 0 0 no-repeat;
	background-size: 4.5rem;
}


.check_box {
	width: 100%;
	margin-top: 1.0rem;
}

.check_box label {
	color: #343434;
	font-size: 1.3rem;
}

.check_box label a {
	color: #ff4400;
	font-size: 1.3rem;
	text-decoration: underline;
}

.mui-checkbox input[type=checkbox]:checked:before,
.mui-radio input[type=radio]:checked:before {
	color: #42b549;
}

.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
	width: 2.0rem;
	height: 2.0rem;
}

.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
	/*top: 14px;*/
}

.mui-checkbox input[type=checkbox]:before,
.mui-radio input[type=radio]:before {
	font-size: 2.0rem;
}

.mui-checkbox.mui-left label,
.mui-radio.mui-left label {
    padding-left: 4.0rem;
}
.mui-input-row label{
   padding: 8px 15px;
}
.fgt_pwd .sub_mit{
    display: block;
    font-size: 1.7rem;
    width: 92%;
    margin: 5rem auto;
    background-color: #c7c7cd;
    border-radius: 0.5rem;
    color: #FFFFFF;
    text-align: center;
    height: 5.0rem;
    line-height: 5.0rem;
}
.fgt_pwd .sub_mit_bg{
	background-color: #ff4400;
}
#alertArea{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: none;           
}
.alertBg{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    z-index: -1;
}
.alertTxt p{
    width: 80%;
    line-height: 4.0rem;
    background: white;
    border-radius: 1.0rem;
    position: absolute;
    left: 10%;
    top: 50%;
    margin-top: -3.0rem;
    text-align: center;
    font-size: 1.2rem;
}  