.orderList{
	margin-bottom: 1.0rem;
	box-shadow: 1px 0 0 0.5px #DDDDDD;
}
.shop-name {
	display: block;
	padding: 0 4.267%;
	background: #FFFFFF;
	overflow: hidden;
	height: 4.0rem;
	line-height: 4.0rem;
	border-bottom: solid 1px #DDDDDD;
	color: #333333;
	font-size: 1.5rem;
	position: relative;
}

.shop-name::after {
	content: '';
	position: absolute;
	right: 4.267%;
	width: 0.8rem;
	height: 4.0rem;
	line-height: 4.0rem;
	background: url(../images/more.png) 0 center no-repeat;
	background-size: .8rem;
}

.order-info-list {
	background: #FFFFFF;
	overflow: hidden;
	line-height: 4.0rem;
	position: relative;
}

.order-info-list p {
	padding: 0 4.267% 0 0;
	margin-left: 4.267%;
	overflow: hidden;
	font-size: 1.4rem;
	position: relative;
	margin-top: -1px;
	z-index: 0;
	box-shadow: 1px 0 0 0.5px #DDDDDD;
	color: #333333;
}

.order-info-list .mui-pull-right {
	color: #666666;
}
.xg-color{
	color: #f62737 !important;
}
